<?xml version="1.0"?>  
<robot name="book1"  xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="base_footprint"/>
	
  <joint name="base_joint" type="fixed">  
    <parent link="base_footprint"/>  
    <child link="base_link"/>  
    <origin rpy="0 0 0" xyz="1 1 1"/>  
  </joint>  
  
  <link name="base_link">  
    <inertial>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <mass value="2.0"/>
     <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.001" />
    </inertial>

    <visual>  
      <geometry>  
        <box size="0.7 0.2 0.27"/>  
      </geometry>  
      <origin rpy="0 0 0" xyz="0 0 0"/>  
      <material name="white">  
          <color rgba="0 0 0.8 1"/>  
      </material>  
    </visual>  

   <collision>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
       <box size="0.7 0.2 0.27"/>
     </geometry>
   </collision> 

  </link>
  
  <joint name="book_joint_2" type="fixed">  
    <parent link="base_link"/>  
    <child link="book_link_2"/>  
    <origin rpy="0 0 0" xyz="0 0 0.375"/>  
  </joint>  
  
  <link name="book_link_2">  
    <inertial>
     <origin xyz="0 0 0.375" rpy="0 0 0"/>
     <mass value="2.0"/>
     <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.001" />
    </inertial>

    <visual>  
      <geometry>  
        <box size="0.7 0.2 0.27"/>  
      </geometry>  
      <origin rpy="0 0 0" xyz="0 0 0"/>  
      <material name="white">  
          <color rgba="0 0 0.8 1"/>  
      </material>  
    </visual>  

   <collision>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
       <box size="0.7 0.2 0.27"/>
     </geometry>
   </collision>

  </link>  

  <joint name="book_joint_3" type="fixed">  
    <parent link="base_link"/>  
    <child link="book_link_3"/>  
    <origin rpy="0 0 0" xyz="0 0 0.75"/>  
  </joint>  
  
  <link name="book_link_3">  
    <inertial>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <mass value="2.0"/>
     <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.001" />
    </inertial>

    <visual>  
      <geometry>  
        <box size="0.7 0.2 0.27"/>  
      </geometry>  
      <origin rpy="0 0 0" xyz="0 0 0"/>  
      <material name="white">  
          <color rgba="0 0 0.8 1"/>  
      </material>  
    </visual>  

   <collision>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
       <box size="0.7 0.2 0.27"/>
     </geometry>
   </collision>

  </link>  

</robot>
